{% extends 'ketosite/base.html' %}


{% load static %}


{% block content %}
<!--Carousel -->
<div id="hero-carousel" class="carousel slide  carousel-fade" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
         <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div> -->
 
     <div class="carousel-inner"> 
 
         <!--Item Active 1--> 
         <div class="carousel-item active">
            <img src="{% static 'images/all-recipe.jpg' %}" class=" c-img" width="720" height="90" loading="lazy"  alt="christmass">
            <div class="carousel-caption mt-2">
                 <h1 class="display-4 font-weight-bold mb-4 text-uppercase">{{ request.path|slice:'1:'|slice:'-1' }}
                </h1>
                 <p class="fs-3 text-white">Enjoy our most famous keto diet meals</p><br>
                 
                 
                 <a class="btn  px-2 py-2 text-decoration-none text-white" href="http://tinyurl.com/mrucbbar" style="background-color: #fd7e14;">Start Now</a>
            </div>
        </div>

    </div> 
</div>
 
 




<!-- blog post -->
<div id="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="text-center">
                    <h2>Latest blog posts</h2>
                    <img src="{% static 'images/under-heading.png' %}" alt="" class="img-fluid"><br>
                    <ul id="categories" class="list-inline mt-3 text-center">
                        {% for category_key, category_display in categories %}
                        <li class="list-inline-item">
                            <a class="link" href="{% url 'ketosite:recipe_list' category_slug=category_key|slugify %}">
                                {{ category_display }}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>



        <div class="row">
            {% for article in recipes %}
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <img src="{{ article.image.url }}" alt="" style="width: 100%; height: 400px; object-fit: cover;"  />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                            
                        </div>
                        <div class="content-hide">
                           
                            
                            <button class="" style="background-color: #fd7e14;"><a href="{{ article.get_absolute_url }}" style="color: white;">Read</a></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ENd blog -->








{% endblock content %}