{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Keto Wonderverse</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="RJw3xEUtDi193pl8gIbDX0eB29WN18GWWigDidE8tNM" />
 

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
 
    <link rel="stylesheet" href="{% static 'css/testimonails-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>


    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W285SLV7');</script>
    <!-- End Google Tag Manager -->
    
</head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W285SLV7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include 'ketosite/navbar.html' %}

    {% block content %}

    {% endblock content %}


    {% include 'ketosite/footer.html' %}


    
    <script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>

    
</body>
</html>