{% extends 'ketosite/base.html' %}


{% load static %}




{% block title %} {{ object.title }}{% endblock %}
{% block meta_description %}{{ object.content|striptags|truncatechars:156}}...{% endblock %}


{% block og_title %} {{ object.title }}{% endblock %}
{% block og_description %} {{ object.content|striptags|truncatechars:156}}...{% endblock %}
{% block og_image %} {{ object.image.url }} {% endblock %}
{% block og_url %} {{ request.build_absolute_uri }} {% endblock %}
{% block og_type %}website{% endblock %}


{% block content %}
<div class="mt-4" id="product-post">

    <div class="container">
        <div id="single-blog" class="page-section first-section">
            
            <div class="container">
                <div class="row">
                    
                    

                    <div class="product-item col-md-12">
                        <div class="row">
                            
                            <div class="col-md-8">  
                                    <div class="image">
                                        <div class="image-post">
                                            <img src="{{ object.image.url }}" alt=" {{ featured.image_alt}}" loading="lazy" style="width: 100%; height: 450px; object-fit: cover;">
                                        </div>
                                    </div>
                                    <br>

                                    <div class="product-content">
                                        <div class="product-title">
                                            <div style="display: inline-block;">
                                                <h2 class="font-weight-bold">{{ object.title }}</h2>
                                                <span>{{ object.date_created }}</span>
                                                
                                            </div>
                                           
                                        </div>
                                        <p>{{ object.content|safe}}</p>
                                    </div>


                                    <!-- Affiliate call to action -->
                                    <section style="background-color: #f2f2f2; padding: 20px;">
                                        <h2 style="text-align: left; color: #333;">Start your Keto Diet Journey Now</h2>
                                        
                                        <p style="text-align: left; color: #555; margin-bottom: 20px;">
                                            We've handpicked some keto-friendly products to support your journey.
                                        </p>
                                        
                                        <ul style="list-style: none; padding: 0; text-align: left;">
                                            <!-- Affiliate Link 1 -->
                                            <li style="margin-bottom: 10px;">
                                                <a href="http://tinyurl.com/3b2cys8t" target="_blank" style="text-decoration: none; font-weight: bold; color: #333;">
                                                    <i class="fa fa-angle-right" style="color: #fd7e14;"></i> GET A CUSTOM KETO PLAN
                                                </a>
                                            </li>
                                            
                                            <!-- Affiliate Link 2 -->
                                            <li style="margin-bottom: 10px;">
                                                <a href="http://tinyurl.com/hv34hjej" target="_blank" style="text-decoration: none; font-weight: bold; color: #333;">
                                                    <i class="fa fa-angle-right" style="color: #fd7e14;"></i> FREE Ultimate Keto Meal Plan
                                                </a>
                                            </li>
                                    
                                            <!-- Affiliate Link 3 -->
                                            <li style="margin-bottom: 10px;">
                                                <a href="http://tinyurl.com/w3d8he7f" target="_blank" style="text-decoration: none; font-weight: bold; color: #333;">
                                                    <i class="fa fa-angle-right" style="color: #fd7e14;"></i> FREE Keto Snack Cookbook (Physical Print Version)!
                                                </a>
                                            </li><br>

                                            <li style="margin-bottom: 10px;">
                                                <a href="http://tinyurl.com/ysc7av4e" target="_blank" style="text-decoration: none; font-weight: bold; color: #333;">
                                                    <i class="fa fa-angle-right" style="color: #fd7e14;"></i> SUBSCRIBE TO OUR NEWSLETTER AND RECEIVE A FREE KETO RECIPE EBOOK***
                                                </a>
                                            </li>
                                        </ul>
                                        
                                        <p style="text-align: left; color: #555; margin-top: 20px;">
                                            Click on the links above to explore these fantastic keto-friendly products!
                                        </p>
                                    </section>
                                    <!--End of affiliate section-->


                                    <div class="divide-line">
                                        <img src="images/div-line.png" alt="" />
                                    </div>
                                    <div class="divide-line">
                                    <img src="images/div-line.png" alt="" />
                                    </div>
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="side-bar">
                                    
 
                                    <div class="recent-post">
                                        <h4>Latest Posts</h4>
                                        <div class="posts">
                                            {% for article in related_articles  %}
                                            <div class="recent-post">
                                                <div class="recent-post-thumb">
                                                    <a href="{{ article.get_absolute_url }}"> <img src="{{ article.image.url }}" alt="{{ article.image_alt }}" style="width: 100%; height: 70px; object-fit: cover;">
                                                </div>
                                                <div class="recent-post-info">
                                                    <h6><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h6>
                                                    <span>{{article.date_created }}</span>
                                                </div>
                                            </div>
                                            {% endfor %}   
                                        </div> 
                                    </div>
  
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>


{% endblock content %}


			