{% extends 'ketosite/base.html' %}


{% load static %}


{% block content %}
<!--Carousel -->
<div id="hero-carousel" class="carousel slide  carousel-fade" data-bs-ride="carousel">
 
    <div class="carousel-inner"> 

        <!--Item Active 1--> 
        <div class="carousel-item active">
            <img src="{% static 'images/slide1.jpg' %}" class=" c-img" width="720" height="90" loading="lazy"  alt="christmass">
           <div class="carousel-caption mt-2">
                <h1 class="display-4 font-weight-bold mb-4 text-uppercase">About Us</h1> 
           </div>
       </div> 

   </div>

</div>


<!--End of carousel -->




<div id="timeline-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Who We Are</h2>
                    <img src="{% static 'images/under-heading.png' %}" loading="lazy" alt="underheading" >
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md">
                <h3>Keto Wonderverse</h3>
                <p>At Keto Wonderverse, we explore the wonders of the ketogenic path with our bespoke keto custom plans tailored to your unique needs. Dive into a universe of tantalizing keto recipes meticulously curated to delight your taste buds while propelling you towards your weight loss goals.</p>
                <p>Discover the transformative power of our comprehensive keto meal plans, designed to optimize your nutritional intake and support your weight loss endeavors. In the realm of Keto Wonderverse, we champion the science of ketosis as a holistic approach to achieving and maintaining a healthier lifestyle. Our mission is to guide you on a personalized, sustainable journey towards your desired weight loss, where every meal becomes a step closer to wellness.</p>
                <p>Join us at Keto Wonderverse, where ketosis science meets culinary creativity. Unleash the keto diet's full potential, reimagine your weight loss journey, and enjoy the flavors of a healthier, more vibrant self. Step into the wondrous world of Keto Wonderverse, where your keto adventure begins.</p>
            </div>

        </div>
        
        <div class="space50"></div>
    </div>
</div>







        
{% endblock content %}