{% extends 'ketosite/base.html' %}


{% load static %}


{% block content %}
<br><br><br>
<link rel="preload" href="{% static 'images/carousel.webp' %}">
<style>
    .custom-btn {
        width: 100%; /* Make the button wide */
    }


    .keto_icons {
        
      
        
        object-fit: cover;
        margin-bottom: 15px;

    }


</style>



<!--Carousel -->
<div id="hero-carousel" class="carousel slide  carousel-fade" data-bs-ride="carousel">
 
     <div class="carousel-inner"> 
 
         <!--Item Active 1--> 
         <div class="carousel-item active">
             <img src="{% static 'images/carousel.webp' %}" class=" c-img" width="720" height="90"  alt="christmass">
            <div class="carousel-caption mt-2">
                 <h1 class="display-4 font-weight-bold mb-4 text-uppercase">Thinking about starting Keto diet?</h1>
                 <p class="fs-3 text-white">Explore the keto diet world to see it it fits you</p><br>
                 
                 
                 <a class="btn  px-2 py-2 text-decoration-none text-white" href="http://tinyurl.com/mrucbbar" style="background-color: #fd7e14;">Start Now</a>
            </div>
        </div> 
 
    </div>
 
</div>
<!--End of carousel -->

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="text-center">
                <h2>Keto Diet 101: Things you need to know.</h2>
                <img src="{% static 'images/under-heading.png' %}" alt="under-heading.png" loading="lazy" class="img-fluid" >
            </div>
        </div>
    </div>
    <div class="card-deck">
      
      <!-- Card 1: What is the Keto Diet? -->
      <div class="card text-center">
        <div class="card-body">
          <!-- Placeholder Avocado Icon -->
          <img src="https://freesvg.org/img/laobc_Avocado.png" width="100" height="100" alt="Avocado" class="keto_icons">
          <h5 class="card-title">What is the Keto Diet?</h5>
          <p class="card-text">The Keto Diet is a low-carb, high-fat eating plan designed to induce ketosis. In this metabolic state, the body burns fat for energy. Learn about its principles and science.</p>
        </div>
      </div>
  
      <!-- Card 2: Is the Keto Diet Suitable for Everyone? -->
      <div class="card text-center">
        <div class="card-body">
          <!-- Placeholder Leaf Icon -->
          <img src="https://freesvg.org/img/food-spinach-salad.png" width="100" height="100" alt="Avocado" class="keto_icons">

          <h5 class="card-title">The Benefits of the Keto diet</h5>
          <p class="card-text">The Keto Diet, suitable for beginners, promotes weight loss, sustained energy, mental clarity, appetite control, and metabolic health benefits. With potential therapeutic applications, it emphasizes nutrient-dense foods and fats. It's crucial for beginners to consult healthcare professionals for personalized guidance.</p>
        </div>
      </div>
  
      <!-- Card 3: Is the Keto Diet Safe? -->
      <div class="card text-center">
        <div class="card-body">
          <!-- Placeholder Chicken Icon -->
          <img src="https://freesvg.org/img/1528492499.png" width="100" height="100" alt="Avocado" class="keto_icons">

          <h5 class="card-title">Is the Keto Diet Safe?</h5>
          <p class="card-text">When done properly, the Keto Diet is generally safe. However, caution is advised for those with specific health concerns. Consultation with a healthcare professional is crucial for a safe keto journey.</p>
        </div>
      </div>
    
    </div>
</div>



<!-- Iframe Keto viedo -->
<div class="container mt-5 mb-5 text-center">
    <iframe width="100%" height="470" src="https://www.youtube.com/embed/ZtdZbSNiYbk?si=BpxPEaPUROqnKXRB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a class="btn  px-2 py-2 text-decoration-none text-white mt-4" href="https://www.digistore24.com/redir/434557/Transformfocuszone/" style="background-color: #fd7e14;">Checkout Keto diet plan now.</a>
</div>
<br>





<!-- blog post -->
<div id="latest-blog">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="text-center">
                    <h2>Latest blog posts</h2>
                    <img src="{% static 'images/under-heading.png' %}" alt="under-heading.png" loading="lazy" class="img-fluid" >
                </div>
            </div>
        </div>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="{{ article.get_absolute_url }}">
                            <picture>
                              <source srcset="{{ article.image.url }}" type="image/webp">
                              <source srcset="{{ article.image.url }}" type="image/jpeg">
                              <img src="{{ article.image.url }}" loading="lazy" class="card-img-top" alt="{{ article.image_alt }}" style="width: 100%; height: 270px; object-fit: cover;">
                            </picture>
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h2  class="link" style="font-size: 25px;"><a class="" href="{{ article.get_absolute_url }}" style="color: white; text-decoration: none;">{{ article.title }}</a></h2><br>
                            
                        </div>
                        <div class="content-hide">
                           
                            
                            <button class="" style="background-color: #fd7e14;"><a href="{{ article.get_absolute_url }}" style="color: white;">Read</a></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

     <!-- Centered button -->
    <div class="text-center mt-4">
        <button class="btn btn-lg" style="background-color: black;"><a href="{% url 'ketosite:blog' %}" style="color: white;">More Blog Posts</a></button>
    </div>
</div>
<br><br>
<!-- ENd blog -->




 


<!-- About Section -->
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="text-center">
                <h2>Keto journey transformation</h2>
                <img src="{% static 'images/under-heading.png' %}" alt="under-heading.png" loading="lazy" class="img-fluid" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-2">
        <img src="https://images.pexels.com/photos/39853/woman-girl-freedom-happy-39853.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="keto success story" loading="lazy" style="width: 100%; height: 380px; object-fit: cover;">
        </div>
        <div class="col-lg-6">
        <h2>Keto Diet Success Story</h2>
        <p>Meet Jane, a remarkable individual whose life underwent a profound transformation through the Keto Diet. In just two months, she lost 20 pounds, experiencing heightened energy and mental clarity. The Keto Diet not only became a weight-management tool but also a catalyst for a more focused and invigorated life.</p>
        <p>Beyond the physical changes, Jane's Keto journey contributed to an overall sense of well-being, improving her mood, sleep quality, and vitality. Jane hopes to inspire others to embark on their own transformative journeys, unlocking a healthier, more fulfilling life through dedication and guidance from healthcare professionals.</p>
            <a class="btn btn-warning" href="https://yourcustomplan.com/start?aff=Vinnybarr" style="background-color: #fd7e14; color: white; padding: 10px;">Start your journey</a>
        </div>
    </div>
</div>
<br>





<!--Feature -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center mb-4">
                <h2>Featured Recipes</h2>
                <img src="{% static 'images/under-heading.png' %}" alt="under-heading.png" loading="lazy" class="img-fluid" >
            </div>
        </div>
    </div>

    <div class="row">
        {% for article in featureds %}
        <div class="col-md-4 mb-4">
            <div class="card border-0">
                <a href="{{ article.get_absolute_url }}">
                    <picture>
                      <source srcset="{{ article.image.url }}" type="image/webp">
                      <source srcset="{{ article.image.url }}" type="image/jpeg">
                      <img src="{{ article.image.url }}" loading="lazy" class="card-img-top" alt="{{ article.image_alt }}" style="width: 100%; height: 270px; object-fit: cover;">
                    </picture>
                </a>
                <div class="card-body">
                    <h2  style="font-size: 20px;"><a class="" href="{{ article.get_absolute_url }}" style="color: black; text-decoration: none;">{{ article.title }}</a></h2><br>
                    <button class="btn" style="background-color: #fd7e14;"><a href="{{ article.get_absolute_url }}" style="color: white;">Read</a></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end featured-->




<!--Banner -->
<div class="container mt-5 mb-5">
    <div id="hero-carousel" class="carousel slide  carousel-fade" data-bs-ride="carousel">
    
        <div class="carousel-inner"> 

            <!--Item Active 1--> 
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/8173442/pexels-photo-8173442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class=" c-img" width="720" height="90"  alt="christmass" loading="lazy" style="width: 100%; height: 60px !important;">
            <div class="carousel-caption mt-2">
                    <h2 class="display-4 font-weight-bold mb-4 text-uppercase">Keto Essentials</h2>
                    <p class="fs-3 text-white">Take a look a our Handpicked Keto Diet materials that will help your achieve your weigth loss goal.</p><br>
                    
                    
                    <a class="btn  px-2 py-2 text-decoration-none text-white" href="https://beacons.ai/ketowonderverse" style="background-color: #fd7e14;">Start Now</a>
            </div>
        </div> 

    </div>

    </div>
</div>


<!--End of carousel -->









<!--Top recipes -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mb-4 mt-3">
            <div class="text-center">
                <h2>100 Recipes</h2>
                <img src="{% static 'images/under-heading.png' %}" loading="lazy" alt="underline heading"  class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row">
        {% for recipe in recipes|slice:"6" %}
        <div class="col-md-4 mb-4">
            <div class="card border-0">
                <a href="{{ recipe.get_absolute_url }}">
                    <picture>
                      <source srcset="{{ recipe.image.url }}" type="image/webp">
                      <source srcset="{{ recipe.image.url }}" type="image/jpeg">
                      <img src="{{ recipe.image.url }}" loading="lazy" class="card-img-top" alt="{{ recipe.image_alt }}" style="width: 100%; height: 270px; object-fit: cover;">
                    </picture>
                  </a>
                <div class="card-body">
                    <h2 style="font-size: 20px;"><a class="" href="{{ recipe.get_absolute_url }}" style="color: black; text-decoration: none;">{{ recipe.title }}</a></h2><br>
                   
                    
                </div>
            </div>
        </div>
        {% endfor %}


    </div>

        <!-- Centered button -->
    <div class="text-center mt-5">
        {% for category_key, category_display in categories %}
            {% if forloop.first %}
        <button class="btn btn-lg" style="background-color: black;"><a href="{% url 'ketosite:recipe_list' category_slug=category_key|slugify %}" style="color: white;">More Recipes</a></button>
            {% endif %}
        {% endfor %}
    </div>
</div>
<br>
<!-- end Top recipes-->



<div class="container">
    <div class="container-fluid bg-dark mt-5 text-white p-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-center">SUBSCRIBE TO OUR NEWSLETTER!</h2>
                <p class="text-center text-white">Claim your free delicious keto diet recipes and stay connected with us to get all of our special offers</p>
                <!-- Your wide button -->
                <button class="btn btn-warning  custom-btn mt-3" type="button" style="background-color: #fd7e14;"><a class="text-white" href="https://thefreakbeatz.systeme.io/29889bc2">Subscribe Now</a></button>
                
                
            </div>
        </div>
    </div>
</div>








{% endblock content %}


