{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'ketosite:home' %}">
            <img src="{% static 'images/newlogo.png' %}" alt="Grill Website Template" style="width: 100%; height: 50px; object-fit: cover;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ketosite:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ketosite:blog' %}">Blog</a>
                </li>
                


                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="recipesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recipes
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="recipesDropdown">
                        
                
                        {% for category_key, category_display in categories %}
                            <a class="dropdown-item" href="{% url 'ketosite:recipe_list' category_slug=category_key|slugify %}">{{ category_display }}</a>
                        {% endfor %}

                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ketosite:products' %}">Products</a>
                </li>
                
                
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ketosite:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ketosite:contact' %}">Contact</a>
                </li>

               <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'ketosite:products' %}">Shop</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-nav .nav-link {
        font-size: 18px !important;
        font-weight: bold;
        margin-right: 15px; /* Adjust the margin as needed */
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
    }
</style>

<!-- Include Bootstrap's CSS (optional if not already included) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Include jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Then include Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<!-- Finally, include Bootstrap's JavaScript (including Popper.js) directly -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
